@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #000;
	color: #edf2f4;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

::-webkit-scrollbar {
	display: none;
}
